html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}



article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Başlangıç */

body {
    background-image: url("background-image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(0, 255, 255, 0);
    margin: 10vh 5vw;
    width: 87.6vw;
    height: 76.4vh;
    padding: 1.8vh 1.2vw;
    overflow: auto;
}
.container::-webkit-scrollbar{
    display:none;
}

.header {
    box-sizing: border-box;
    background-color: rgba(165, 42, 42, 0);
    width: 100%;
    height: 11%;
    font-size: 7.2vh;
    text-align: center;
}

.start {
    box-sizing: border-box;
    background-color: rgba(255, 145, 0, 0.507);
    margin: 1vh auto 0 auto;
    width: 100%;
    height: auto;
    font-size: 2.2vh;
    padding: 10px;
}

.story {
    box-sizing: border-box;
    background-color: rgba(255, 145, 0, 0.507);
    margin: 1vh auto 0 auto;
    width: 100%;
    height: auto;
    font-size: 2.2vh;
    padding: 10px;
}

.episode {
    box-sizing: border-box;
    background-color: rgba(255, 145, 0, 0.507);
    margin: 1vh auto 0 auto;
    width: 100%;
    height: auto;
    font-size: 2.2vh;
    padding: 10px;
}

input {
    background-color: rgba(222, 184, 135, 0);
}

.display {
    display: none;
}
.hud{
    display: flex;
    position: fixed;
    box-sizing: border-box;
    margin: 1vh auto 0 auto;
    width: 100%;
    height: 60px;
    font-size: 2.2vh;
    padding: 10px;
    background-color: aquamarine;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
}
#map>img{
    width: 70%;
    height: 100%;
}
#map{
    height: 50vh;
    text-align: center;
}